{% extends 'layout.html' %}

{% block content %}
<h2 class="govuk-heading-l">Account Page</h2>
<h2 class="govuk-heading-s">Access token</h2>
<p class="govuk-body" style="overflow: auto;">{{auth.artifacts.token.access_token}}</p>
<h2 class="govuk-heading-s">ID Token</h2>
<p class="govuk-body" style="overflow: auto;">{{auth.artifacts.token.id_token}}</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Auth
    </span>
  </summary>
  <div class="govuk-details__text" style="overflow: auto;">
    <pre><code>{{ auth | dump(2) | safe }}{{ meta | dump(2) | safe }}</code></pre>
  </div>
</details>

<form method="POST">
  <button class="govuk-button">Make API request</button>
  <pre><code>{{ apiResponse | dump(2) | safe }}</code></pre>
</form>
{% endblock %}